<div class="container">

  <div class="row">
    
    <div class="col-md-6">

      <h1 class="form-signin-heading">Sign in</h1>
      <p class="lead">Not a member? Please <a routerLink="/register">register</a> instead.</p>
  
      <form [formGroup]="form">
            <div class="form-field">
                <label>Email:</label>
                <input name="email" formControlName="email">
            </div>
            <div class="form-field">
                <label>Password:</label>
                <input name="password" formControlName="password" 
                    type="password">
            </div>
       
            <div class="form-buttons">
                <button class="button button-primary" 
                        (click)="login()">Login</button>
            </div>
        </form>
    </div>
  </div>

</div>